@import "bourbon";

/*! main.scss | https://github.com/seandrickson/start/blob/gh-pages/css/main.scss */



body { // Style defaults
	margin: 0;
	color: #eee;
	@include linear-gradient(
		black,
		lighten( black, 11% ),
		lighten( black, 18% ),
		lighten( black, 11% ),
		black
	);
}



//
// Middle-aligned website layout -- <html><body></body></html>
//////////

html, body, .middle__wrapper {
	width: 100%;
	height: 100%;
}
.middle__wrapper {
	display: table;
	margin: 0 auto;
}
	.middle__item {
		display: table-cell;
		vertical-align: middle;
		padding: 20%;
	}



//
// Grid component -- <ul class=grid><li></li></ul>
//////////

// Column + Gutter = 100%
$column-width: 80%;  // Column %
$gutter-width: 20%;  // Gutter %

$s-columns: 2;
$m-columns: 4;
$l-columns: 4;

$s-size:  32em;
$m-size:  56em;
$l-size:  80em;

@mixin mq($size) {
	@media (min-width: $size) { @content; }
}

@function grid-math( $column-width: 50%, $columns: 2 ) {
	@return $column-width / $columns;
}

// Set padding from edge of browser
.grid__wrapper {
	@include clearfix;
	margin: 0 auto;
	max-width: $l-size;
}
	.grid__item {
		float: left;

		// Small size
		width:   grid-math( $column-width, $s-columns );
		padding: grid-math( $gutter-width, $s-columns ) / 2;

		// Medium size
		@include mq($s-size) {
			width:   grid-math( $column-width, $m-columns );
			padding: grid-math( $gutter-width, $m-columns ) / 2;
		}

		// Large size
		// @include mq($m-size) {
		// 	width:   grid-math( $column-width, $l-columns );
		// 	padding: grid-math( $gutter-width, $l-columns ) / 2;
		// }
	}



//
// Icon component -- <a class=icon><img></a>
//////////

.icon__wrapper {
	position: relative;
	opacity: 0;

	@include perspective( 200px );
	@include animation( fadeInDown 1s $ease-in-out-back forwards );
}

	.icon__item {
		display: block;

		@include transform( translateZ(.01px) );
		@include transition-property( transform );
		@include transition-duration( .1s );
		@include transition-timing-function( ease-in-out );
		@include transition-delay( .015s );

		&:hover {
			@include transform( translateZ(10px) );
		}
		&:active {
			@include transform( translateZ(-10px) );
		}
		img {
			display: block;
			max-width: 100%;
			margin: 0 auto;
			border-radius: (10px / 57px) * 100%; // iOS radius size
			outline: 1px solid transparent; // Firefox rendering fix
		}
	}



//
// Animation keyframes
//////////

@include keyframes(fadeInDown) {
		0% { top: -50px; opacity: 0; }
	100% { top:   0px; opacity: 1; }
}
