@import "compass";

/*! main.scss | https://github.com/seandrickson/start/blob/gh-pages/css/main.scss */



//
// Middle-aligned website layout -- <html><body></body></html>
//////////

html {
	display: table;
	height: 100%;
}
	body {
		display: table-cell;
		vertical-align: middle;
		padding: 20%;
		color: #EEE;
		background-color: #000;
		@include background-image( linear-gradient(
			#000,
			lighten( #000, 11% ),
			lighten( #000, 18% ),
			lighten( #000, 11% ),
			#000
		) );
	}



//
// Grid component -- <ul class=grid><li></li></ul>
//////////

// Column + Gutter = 100%
$column-width: 80%;  // Column %
$gutter-width: 20%;  // Gutter %

$s-columns: 2;
$m-columns: 4;
$l-columns: 4;

$s-size:  32em;
$m-size:  56em;
$l-size:  80em;

@function grid-math( $column-width: 50%, $columns: 2 ) {
	@return $column-width / $columns;
}

@mixin grid($columns: 2) {
	width:   grid-math( $column-width, $columns );
	padding: grid-math( $gutter-width, $columns ) / 2;
}

@mixin mq($size) {
	@media (min-width: $size) { @content; }
}

// Set padding from edge of browser
.grid__wrapper {
	margin: 0 auto;
	max-width: $l-size;
}
	.grid__item {
		float: left;

		// Small size
		@include grid( $s-columns );

		// Medium size
		@include mq($s-size) {
			@include grid( $m-columns );
		}

		// Large size
		// @include mq($m-size) {
		//   @include grid( $l-columns );
		// }
	}



//
// Icon component -- <a class=icon><img></a>
//////////

.icon__wrapper {
	position: relative;
	@include perspective( 100px );
	@include backface-visibility( hidden );
	@include animation( fadeInDown 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) );
}

	.icon__item {
		display: block;
		@include transform( translateZ(-7px) );
		@include transition( .1s ease-in-out .015s );

		&:hover {
			@include transform( translateZ(0) );
			img { box-shadow: 0 1em 2.5em -.2em #000; }
		}
		&:active {
			@include transform( translateZ(-14px) );
			img { box-shadow: 0 1em 1.5em -.2em #000; }
		}
		img {
			max-width: 100%;
			border-radius: (10px / 57px) * 100%; // 10px radius at 57x57px icon
			outline: 1px solid transparent; // Firefox rendering fix
			box-shadow: 0 1em 2em -.2em #000;
		}
	}



//
// Animation keyframes
//////////

@include keyframes( fadeInDown ){
		0% { top: -50px; opacity: 0; }
	100% { top:     0; opacity: 1; }
}
