@import "bourbon/bourbon";
@import "neat/neat";
@import "normalize";

/*!
|
| main.scss
|
*/

// == VARIABLES ==
$grid-columns: 6;

$s-size:  15em;
$m-size:  48em;
$l-size:  64em;
$xl-size: 75em;

$s-media: new-breakpoint(max-width $m-size 2);
$m-media: new-breakpoint(min-width $m-size max-width $l-size 3);


// == STYLES ==
html { // Style defaults
	color: #ddd;
	@include background-image(
		linear-gradient(top,
			#000,
			#161616,
			#262626,
			#161616,
			#000)
	);
}


html { // Middle-aligned website layout -- <html><body></body></html>
	display: table;
	width: 100%;
	height: 100%;

	body {
		display: table-cell;
		vertical-align: middle;
	}
}


.grid { // Grid component -- <ul class=grid><li></li></ul>
	@include outer-container;
	@include pad;

	.grid-item {
		@include span-columns(1);
		@include pad(default 0);
		
		@include media($s-media) {
			@include omega(2n);
			@include span-columns(1);
		}
		@include media($m-media) {
			@include omega(3n);
			@include span-columns(1);
		}
	}
}


.icon-wrapper {
	@include perspective(200px);

	.icon { // Icon component -- <a class=icon><img></a>
		display: block;
		@include transform-style(preserve-3d);
		@include transform(translateZ(.01px));
		@include animation(fadeInUp 1s $ease-in-out-back);
		@include transition(.1s);
		
		img {
			display: block;
			max-width: 100%;
			margin: 0 auto;
			border-radius: 17.54386%; // iOS radius size 10px/57px
			outline: 1px solid transparent;
		}
		&:hover {
			@include transform(translateZ(10px));
		}
		&:active {
			@include transform(translateZ(-10px));
		}
	}
}


@include keyframes(fadeInUp) {
	0% {
		@include transform(translateY(-50px));
		opacity: 0;
	}
	100% {
		@include transform(translateY(0));
		opacity: 1;
	}
}
