@import "bourbon";

/*!
| main.scss
| ----------
| https://github.com/seandrickson/start/blob/gh-pages/sass/main.scss
|
*/


//
// Style defaults
//////////

html {
	color: #eee;
	@include linear-gradient(
		black,
		lighten( black, 11% ),
		lighten( black, 18% ),
		lighten( black, 11% ),
		black
	);
}


//
// Middle-aligned website layout -- <html><body></body></html>
//////////

html {
	display: table;
	width: 100%;
	height: 100%;
}
	body {
		display: table-cell;
		vertical-align: middle;
	}



//
// Grid component -- <ul class=grid><li></li></ul>
//////////

// Column + Gutter = 100%
$column: 80%;  // Column %
$gutter: 20%;  // Gutter %

$num-columns: 2;

$s-size:  32em;
$m-size:  56em;
$l-size:  80em;

@function grid-math( $column: 50%, $num-columns: 2 ) {
	@return $column / $num-columns;
}

// Set padding from edge of browser
.grid__wrapper {
	@include clearfix;
	margin: 0 auto;
	padding: 10%;
	max-width: $l-size;
}
	.grid__item {
		float: left;

		// small size
		width: grid-math( $column );
		padding: grid-math( $gutter ) / 2;

		//medium size
		@media screen and (min-width: $s-size) {
			width: grid-math( $column, 3 );
			padding: grid-math( $gutter, 3 ) / 2;
		}

		//large size
		@media screen and (min-width: $m-size) {
			width: grid-math( $column, 6 );
			padding: grid-math( $gutter, 6 ) / 2;
		}
	}



//
// Icon component -- <a class=icon><img></a>
//////////

.icon__wrapper {
	@include perspective( 200px );
}
	.icon__item {
		position: relative;
		display: block;

		@include transform-style( preserve-3d );
		@include transform( translateZ(.01px) );
		@include transition-property( transform );
		@include transition-duration( .1s );
		@include transition-timing-function( ease-in-out );
		@include transition-delay( .015s );

		@include animation( fadeInDown 1s $ease-in-out-back backwards );

		&:hover {
			@include transform( translateZ(10px) );
		}
		&:active {
			@include transform( translateZ(-10px) );
		}
		img {
			display: block;
			max-width: 100%;
			border-radius: (10px / 57px) * 100%; // iOS radius size
			outline: 1px solid transparent; // Firefox rendering fix
		}
	}
		.icon__item--1of6 { @include animation-delay(   0s ); }
		.icon__item--2of6 { @include animation-delay( .15s ); }
		.icon__item--3of6 { @include animation-delay(  .3s ); }
		.icon__item--4of6 { @include animation-delay( .45s ); }
		.icon__item--5of6 { @include animation-delay(  .6s ); }
		.icon__item--6of6 { @include animation-delay( .75s ); }


//
// Animation keyframes
//////////

@include keyframes(fadeInDown) {
		0% { top: -50px; opacity: 0; }
	100% { top:   0px; opacity: 1; }
}
