!!! 5
html(lang='en-US', manifest='sean.appcache')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    title start
    meta(name='description', content='Personal custom start page')

    //https://github.com/seandrickson/start/

    include css/main.css
  body
    #icons.grid__wrapper
      .grid__item.icon__wrapper(style='display: none;')
        a.icon__item(href='https://www.facebook.com/')
          img(alt='Facebook', src='img/facebook.jpg')
      .grid__item.icon__wrapper(style='display: none;')
        a.icon__item(href='http://pinterest.com/')
          img(alt='Pinterest', src='img/pinterest.jpg')
      .grid__item.icon__wrapper(style='display: none;')
        a.icon__item(href='http://www.youtube.com/')
          img(alt='YouTube', src='img/youtube.jpg')
      .grid__item.icon__wrapper(style='display: none;')
        a.icon__item(href='https://mail.google.com/mail/')
          img(alt='Gmail', src='img/gmail.jpg')
    include js/respond.min.js
    include js/load.min.js
