doctype html
html(lang='en-US')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //
      ======================================
      https://github.com/seandrickson/start/
      ======================================
    title Start
    meta(name='description', content='Personal custom start page')
    style
      include assets/main.css
  body
    #wrapper.grid__wrapper
      - each i in icons
        div(class='icon__wrapper grid__item grid__item--#{icons.length}up', style='opacity:0')
          a(href=i.url).icon__item
            img(alt=i.name, src='assets/img/#{i.name}.png')
    script
      include assets/main.js