<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">
    <!--============================================
    Check out the repository for some deeper digging
    https://github.com/seandrickson/start/
    =============================================-->
    <title> {{ page.title }} </title>
    <style>
      {% capture styles %}
      {% include main.scss %}
      {% endcapture %}
      {{ styles | scssify }}
    </style>      
  </head>
  <body>
    {{ content }}
  </body>
</html>